$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

#main #image-text-container {
  background-image: url("../img/sebastian-schuppik-H7xTpvBjJS4-unsplash-blur.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .button-container {
    padding-top: 2.5em;
    gap: 20px;
    display: flex;

    @media screen and (max-width: $sm) {
      flex-direction: column;
    }

    a {
      position: relative;
      line-height: 4;
      width: 180px;
      height: 80px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      background: linear-gradient(90deg, var(--orange) 0%, var(--light-orange) 100%);
      z-index: 100;

      &:nth-child(2) {
        background: linear-gradient(90deg, var(--light-orange) 0%, var(--orange) 100%);
      }

      &:before {
        border-radius: inherit;
        background: var(--orange);
        color: white;
        content: '';    
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: 400ms ease-in-out;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .text-within-bg {
    padding: 0 40px;
    border-radius: 10px;
  }

  h1 {
    font-family: "quesha", sans-serif;
    font-size: 4em;

    @media screen and (min-width: $md) {
      font-size: 5.5em;
    }
  }
}