$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

#main {
  .image-text-container {
    background-image: url("../img/sebastian-schuppik-H7xTpvBjJS4-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: calc(100vh - 71px); // viewport - height of navbar
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .button-container {
      padding-top: 2.5em;
      gap: 20px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $md) {
        flex-direction: row;
      }

      a {
        line-height: 4;
        width: 180px;
        height: 80px;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        transition: 200ms ease-in-out;
        border: 1px solid white;
        font-weight: 700;
  
        &:hover, &:active {
          background: white;
          color: black;
        }
      }
    }
  
    .text-within-bg {
      padding: 0 40px;
      border-radius: 10px;
    }
  
    h1 {
      font-family: "quesha", sans-serif;
      font-size: 4em;
  
      @media screen and (min-width: $md) {
        font-size: 5.5em;
      }
    }
  }

  .content {
    display: flex;
    margin: 10em 5em;
    flex: 1 1 50%;
    align-items: center;
    flex-direction: column;
    gap: 4em;

    @media screen and (min-width: $lg) {
      margin: 13em 10em;
    }
    
    @media screen and (min-width: $lg) {
      margin: 15em 15em;
    }

    @media screen and (min-width: $xl) {
      flex-direction: row;
    }

    div {
      width: 100%;
      height: 100%;
    }

    .text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      i {
        padding: 20px 0;
      }

      h2 {
        font-family: "quesha, sans-serif";
        font-size: 2em;
        margin: 0 0;
      }
    }

    .img-container {
      display: none;

      img {
        width: 100%;
        height: 100%;

        @media screen and (min-width: $md) {
          min-height: 430px;
          min-width: 370px;
          max-width: 500px;
          max-height: 600px;
        }
      }

      @media screen and (min-width: $md) {
        display: block;
      }
    }
  }
}