$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@import 'colors.scss';

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  #main section {
    h2 {
      font-family: "quesha", sans-serif;
      font-size: 3em;


      @media screen and (min-width: $md) {
        font-size: 4em;
      }
    }

    .items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        border: 1px solid var(--light-light-gray);
        margin: 0 1em 2em 1em;
        width: calc(100% - 2em);
        max-width: 320px;
        border-radius: 5px;

        @media screen and (min-width: $md) {
          width: calc(50% - 2em);
        }

        @media screen and (min-width: $lg) {
          width: calc(33.33333% - 2em);
        }

        @media screen and (min-width: $xxl) {
          width: calc(25% - 2em);
        }

        .display {
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--light-light-gray);

          img {
            object-fit: fill;
          }
        }

        .information {
          display: flex;
          flex-direction: column;
          height: 100%;

          .default-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1.5em 1.5em 0.75em 1.5em;
            word-wrap: break-word;
            text-align: center;
            flex: 1 1 auto;

            p {
              margin: 0
            }

            h5 {
              font-size: 1.25em;
              font-weight: bolder;
            }
          }

          .additional-information {
            opacity: 0;

            &.show {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              padding: 0 1.5em;
              opacity: 1;
            }

            p {
              margin: 0;
            }
          }

          .more-information {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.75em 1.5em 1.5em 1.5em;

            a[aria-expanded=false] .expanded {
              display: none;
            }

            a[aria-expanded=true] .collapsed {
              display: none;
            }
          }
        }
      }
    }
  }
}