:root {
  --light-light-orange:#EEB58B;
  --light-orange:#E99B63;
  --orange:#D2691E;
  --dark-orange:#824113;
  --light-light-gray:#C5C5C5;
  --light-gray:#AEAEAE;
  --gray:#808080;
  --dark-gray:#3B3B3B;
}

#logo {
  color: #fff;
  background-color: var(--dark-orange);
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding-top: 8px;

  /* margin-top: 16px; */
width: 100%;
}

html {
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#image {
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

#main h1, h2, h3 {
  margin: auto;
  text-align: center;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

#content {
  padding: 0 10px;
}

#main {
  padding: 0 0;
  margin: auto;
  text-align: left;
}

#top {
  text-align: center;
}

#main .container {
  width: 100%;
}

$color_1: white;
$background-color_1: transparent;
$background-color_2: var(--orange);

#main {
		#image-text-container {
			.button-container {
				padding-top: 2.5em;
				gap: 20px;
				display: flex;
				a {
					line-height: 4;
					width: 150px;
					background-color: $background-color_1;
					border: 1px solid white;
					text-decoration: none;
					color: $color_1;
					&:nth-child(1) {
						background-color: $background-color_2;
						border: 1px solid var(--orange);
						&:hover {
							background-color: $background-color_1;
							border: 1px solid white;
							transition: ease-in-out 0.5s;
						}
					}
          &:nth-child(2):hover {
            background-color: $background-color_2;
            border: 1px solid $background-color_2;
            transition: ease-in-out 0.5s;
					}
				}
			}
		}
}
