@import './colors.scss';

#navbar.navbar {
  background-color: $light-light-orange;

  .navbar-brand {
  }
}

#logo-name {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid black;
  color: var(--dark-gray);
}

#navigation {
  border-bottom: 1px solid black;

  a {
    color: gray;
    padding: 8px;
    text-decoration: none;

    &:hover {
      color: rgb(211, 70, 94);
    }
  }
}