section .events {
    //background-color: coral;

    .row {
        margin-bottom: 1rem;
    }

    .event {
        .card {
            min-width: 10rem;
            min-height: 19rem;

            .buttons {
                position: absolute;
                bottom: 1.5rem;
            }
        }
    }
}