
#footer {
  text-align: center;
  color: gray;
  padding: 16px;
}
#main #image-text-container {
  background-image: url("../img/sebastian-schuppik-H7xTpvBjJS4-unsplash-blur.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main #image-text-container .button-container {
  padding-top: 2.5em;
  gap: 20px;
  display: flex;
}
#main #image-text-container .button-container a {
  line-height: 4;
  width: 100px;
  background-color: var(--orange);
}
@media screen and (max-width: 768px) {
  #main #image-text-container .button-container a {
    background-color: red;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #main #image-text-container .button-container a {
    background-color: yellow;
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  #main #image-text-container .button-container a {
    background-color: green;
  }
}
#main #image-text-container .text-within-bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 40px;
  border-radius: 10px;
}
#main #image-text-container h1 {
  font-family: "quesha", sans-serif;
  font-size: 3em;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #main #image-text-container h1 {
    font-size: 5em;
  }
}
@media screen and (min-width: 1200px) {
  #main #image-text-container h1 {
    background-color: green;
  }
}
:root {
  --light-light-orange:#EEB58B;
  --light-orange:#E99B63;
  --orange:#D2691E;
  --dark-orange:#824113;
  --light-light-gray:#C5C5C5;
  --light-gray:#AEAEAE;
  --gray:#808080;
  --dark-gray:#3B3B3B;
}

#logo {
  color: #fff;
  background-color: var(--dark-orange);
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding-top: 8px;
  /* margin-top: 16px; */
  width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#image {
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

#main h1, h2, h3 {
  margin: auto;
  text-align: center;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

#main {
  padding: 0 0;
  margin: auto;
  text-align: left;
}

#top {
  text-align: center;
}

#main .container {
  width: 100%;
  height: 100%;
}

#main #image-text-container .button-container {
  padding-top: 2.5em;
  gap: 20px;
  display: flex;
}
#main #image-text-container .button-container a {
  line-height: 4;
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}
#main #image-text-container .button-container a:nth-child(1) {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}
#main #image-text-container .button-container a:nth-child(1):hover {
  background-color: transparent;
  border: 1px solid white;
  transition: ease-in-out 0.5s;
}
#navbar.navbar {
  background-color: #EEB58B;
}
#logo-name {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid black;
  color: var(--dark-gray);
}

#navigation {
  border-bottom: 1px solid black;
}
#navigation a {
  color: gray;
  padding: 8px;
  text-decoration: none;
}
#navigation a:hover {
  color: rgb(211, 70, 94);
}
/* Loader CSS */
.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}