
#footer {
  text-align: center;
  color: gray;
  padding: 16px;
  background: #212529;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}
#main .image-text-container {
  background-image: url("../img/sebastian-schuppik-H7xTpvBjJS4-unsplash-blur.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: calc(100vh - 71px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main .image-text-container .button-container {
  padding-top: 2.5em;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #main .image-text-container .button-container {
    flex-direction: row;
  }
}
#main .image-text-container .button-container a {
  line-height: 4;
  width: 180px;
  height: 80px;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: 200ms ease-in-out;
  border: 1px solid white;
  font-weight: 700;
}
#main .image-text-container .button-container a:hover, #main .image-text-container .button-container a:active {
  background: white;
  color: black;
}
#main .image-text-container .text-within-bg {
  padding: 0 40px;
  border-radius: 10px;
}
#main .image-text-container h1 {
  font-family: "quesha", sans-serif;
  font-size: 4em;
}
@media screen and (min-width: 768px) {
  #main .image-text-container h1 {
    font-size: 5.5em;
  }
}
#main .content {
  display: flex;
  margin: 10em 5em;
  flex: 1 1 50%;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}
@media screen and (min-width: 992px) {
  #main .content {
    margin: 13em 10em;
  }
}
@media screen and (min-width: 992px) {
  #main .content {
    margin: 15em 15em;
  }
}
@media screen and (min-width: 1200px) {
  #main .content {
    flex-direction: row;
  }
}
#main .content div {
  width: 100%;
  height: 100%;
}
#main .content .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main .content .text-container img {
  padding: 20px 0;
}
#main .content .text-container h2 {
  font-family: "quesha, sans-serif";
  font-size: 2em;
  margin: 0 0;
}
#main .content .img-container {
  display: none;
}
#main .content .img-container img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  #main .content .img-container img {
    min-height: 430px;
    min-width: 370px;
    max-width: 500px;
    max-height: 600px;
  }
}
@media screen and (min-width: 768px) {
  #main .content .img-container {
    display: block;
  }
}
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body #main section h2 {
  font-family: "quesha", sans-serif;
  font-size: 4em;
}
body #main section .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body #main section .items .item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  border: 1px solid var(--light-light-gray);
  margin: 0 1em 2em 1em;
  width: calc(100% - 2em);
  max-width: 320px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  body #main section .items .item {
    width: calc(50% - 2em);
  }
}
@media screen and (min-width: 992px) {
  body #main section .items .item {
    width: calc(33.33333% - 2em);
  }
}
@media screen and (min-width: 1400px) {
  body #main section .items .item {
    width: calc(25% - 2em);
  }
}
body #main section .items .item .display {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-light-gray);
}
body #main section .items .item .display img {
  object-fit: fill;
}
body #main section .items .item .information {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body #main section .items .item .information .default-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  word-wrap: break-word;
  text-align: center;
  flex: 1 1 auto;
}
body #main section .items .item .information .default-information p {
  margin: 0;
}
body #main section .items .item .information .default-information h5 {
  font-size: 1.25em;
  font-weight: bolder;
}
body #main section .items .item .information .additional-information {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.5em;
}
body #main section .items .item .information .additional-information p {
  margin: 0;
}
body #main section .items .item .information .more-information {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5em 1.5em 1.5em;
}
#navbar.navbar {
  background-color: #EEB58B;
}
#navbar.navbar li.nav-item a.active {
  font-weight: bold;
}

#logo-name {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid black;
  color: var(--dark-gray);
}

#navigation {
  border-bottom: 1px solid black;
}
#navigation a {
  color: gray;
  padding: 8px;
  text-decoration: none;
}
#navigation a:hover {
  color: rgb(211, 70, 94);
}
/* Loader CSS */
.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}