@font-face {
    font-family: quesha;
    src: url(../fonts/Quesha-gndR.ttf);
}

:root {
    --light-light-orange: #EEB58B;
    --light-orange: #E99B63;
    --orange: #D2691E;
    --dark-orange: #824113;
    --light-light-gray: #C5C5C5;
    --light-gray: #AEAEAE;
    --gray: #808080;
    --dark-gray: #3B3B3B;
}

#logo {
    color: #fff;
    background-color: var(--dark-orange);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding-top: 8px;
    /* margin-top: 16px; */
    width: 100%;

}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#logo-name {
    font-size: 32px;
    font-weight: bold;
    /* margin: 16px; */
    border-bottom: 1px solid black;
    color: var(--dark-gray);
}

#navigation {
    border-bottom: 1px solid black;
}
#navigation a {
    color: gray;
    padding: 8px;
    text-decoration: none;
}

#navigation a:hover {
    color: rgb(211, 70, 94);
}

#image {
    /* width: 100%; */
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

#main h1, h2, h3 {
    /* width: 800px; */
    margin: auto;
    text-align:center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#main {
    /* width: 800px; */
    height: 100%;
    width: 100%;
    padding: 0 0;
    margin: auto;
    text-align:left;
}

#top {
    text-align: center;

}

#main .container {
    width: 100%;
    height: 100%;
}

#main .container #image-text-container {
    background-image: url("../img/sebastian-schuppik-H7xTpvBjJS4-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main .container #image-text-container .text-within-bg {
    background: rgb(0,0,0,0.5);
    padding: 0 40px;
    border-radius: 10px;
}

#main .container #image-text-container h1 {
    font-family: "quesha", sans-serif;
    /* font-weight: 900; */
    font-size: 5em;
}

#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}

/* Loader CSS */
.loader {
    position: absolute;
    top: 45%;
    left: 45%;
}