:root {
    --light-light-orange: #EEB58B;
    --light-orange: #E99B63;
    --orange: #D2691E;
    --dark-orange: #824113;
    --light-light-gray: #C5C5C5;
    --light-gray: #AEAEAE;
    --gray: #808080;
    --dark-gray: #3B3B3B;
}

#logo {
    color: #fff;
    background-color: var(--dark-orange);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding-top: 8px;
    /* margin-top: 16px; */
    width: 100%;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#logo-name {
    font-size: 32px;
    font-weight: bold;
    /* margin: 16px; */
    border-bottom: 1px solid black;
    color: var(--dark-gray);
}

#navigation {
    border-bottom: 1px solid black;
}
#navigation a {
    color: gray;
    padding: 8px;
    text-decoration: none;
}

#navigation a:hover {
    color: rgb(211, 70, 94);
}

#image {
    /* width: 100%; */
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

#main h1, h2, h3 {
    /* width: 800px; */
    margin: auto;
    text-align:center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#main {
    /* width: 800px; */
    margin: auto;
    text-align:left;
}

#top {
    text-align: center;

}

#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}

/* Loader CSS */
.loader {
    position: absolute;
    top: 45%;
    left: 45%;
}