@font-face {
    font-family: quesha;
    src: url(../fonts/Quesha-gndR.ttf);
}

:root {
    --light-light-orange: #EEB58B;
    --light-orange: #E99B63;
    --orange: #D2691E;
    --dark-orange: #824113;
    --light-light-gray: #C5C5C5;
    --light-gray: #AEAEAE;
    --gray: #808080;
    --dark-gray: #3B3B3B;
}

/*
Only use this file to specify font-faces, or very important rules. Please rather use the appropriate .scss file under "/app/scss/"
*/